In [30]:
# import packages/library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [31]:
# import the data using pandas lib
car_sales = pd.read_csv("./data/car-sales-extended.csv")
# print the top 5 info
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [32]:
# have a look at the data types we have
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [33]:
# split the data X(features) and y(result)
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

In [34]:
# split X and y into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2 )

In [38]:
model = RandomForestRegressor()

In [39]:
# since this is also identical count we include in transform
car_sales["Doors"].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [48]:
# columns that are predictable and string to transoform into ones and zero
categorical_features = ["Make", "Colour", "Doors"]

one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_features)],
                               remainder="passthrough")
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [49]:
pd.DataFrame(transformed_X).head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [55]:
# for visual
dummies = pd.get_dummies(car_sales[categorical_features])
dummies.head()

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0

In [57]:
# refit the mode
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

In [61]:
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.8915942026226332

In [63]:
model.score(X_test, y_test)

0.32363380860284385

In [66]:
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying Model with {i} estimators...")
    clf=RandomForestRegressor(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying Model with 10 estimators...
Model accuracy on test set: 26.59%

Trying Model with 20 estimators...
Model accuracy on test set: 29.15%

Trying Model with 30 estimators...
Model accuracy on test set: 27.35%

Trying Model with 40 estimators...
Model accuracy on test set: 28.98%

Trying Model with 50 estimators...
Model accuracy on test set: 30.14%

Trying Model with 60 estimators...
Model accuracy on test set: 31.59%

Trying Model with 70 estimators...
Model accuracy on test set: 31.86%

Trying Model with 80 estimators...
Model accuracy on test set: 29.87%

Trying Model with 90 estimators...
Model accuracy on test set: 31.51%